* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  user-select: none;
  cursor: default;
}

body {
  color: rgb(51, 51, 51);
}

.section-container {
  position: absolute;
  left: 0;
  right: 0;

  display: flex;
  flex-flow: row wrap;
  width: 90%;
  height: 600px;
  margin: auto;

  /* border: 1px solid black; */
}

#area-container {
  top: 36px;
}

#news-container {
  top: 736px;
}

.tile-heading {
  flex-direction: row;
  width: 100%;
  height: 61px;
  padding-left: 4px;

  font-family: "Open Sans", sans-serif;
  font-size: 25pt;
  font-weight: 700;
}

#area-heading {
  border-bottom: 7px solid rgb(223, 70, 97);
}

#news-heading {
  border-bottom: 7px solid rgb(0, 95, 131);
}

.img-container {
  flex-direction: row;
  width: 31%;
  height: 190px;
  margin: auto;
  margin-top: 36px;

  background-color: rgb(208, 211, 212);
  border: 1px solid rgb(51, 51, 51);
}

.text-container {
  flex-direction: row;
  width: 31%;
  height: 290px;
  margin: auto;
  margin-top: 10px;

  /* border: 1px solid red; */
}

.img-1 {
  order: 1;
  margin-left: 0;
}

.img-2 {
  order: 2;
}

.img-3 {
  order: 3;
  margin-right: 0;
}

.text-1 {
  order: 4;
  margin-left: 0;
}

.text-2 {
  order: 5;
}

.text-3 {
  order: 6;
  margin-right: 0;
}

.tile-paragraph {
  margin-top: 36px;
  padding-left: 4px;

  font-family: "Open Sans", sans-serif;
  font-size: 18pt;
  font-weight: 300;
}

.tile-sub-heading {
  margin-top: 26px;
  padding-left: 4px;

  font-family: "Open Sans", sans-serif;
  font-size: 18pt;
  font-weight: 400;
}

.tile-img {
  width: 100%;
  height: 100%;
  margin: auto;
}

/* -------------------- MEDIA QUERIES -------------------- */
@media screen and (max-width: 885px) {
  body {
    /* background-color: lightGray; */
  }

  .section-container {
    flex-flow: column nowrap;
    width: 92%
  }

  #news-container {
    top: 1766px;
  }

  .tile-heading {
    flex-direction: column;
  }

  #area-heading {
    padding-bottom: 10px;
  }

  #news-heading {
    padding-bottom: 10px;
  }

  .img-container {
    flex-direction: column;
    width: 353px;
    margin-top: 0;
  }

  .text-container {
    flex-direction: column;
    width: 353px;
  }

  .img-1 {
    order: 1;
    margin: auto;
    margin-top: 36px;
  }

  .img-2 {
    order: 3;
    margin-top: 90px;
  }

  .img-3 {
    order: 5;
    margin: auto;
    margin-top: 90px;
  }

  .text-1 {
    order: 2;
    margin: auto;
    margin-top: 10px;
  }

  .text-2 {
    order: 4;
    margin-top: 10px;
  }

  .text-3 {
    order: 6;
    margin: auto;
    margin-top: 10px;
  }
}
